@import '../../../styles/global.scss';

.ContextMenu {
  @include flex(
    $vertical: flex-start,
    $direction: column
  );
  background-color: initial;
  border: initial;
  overflow: visible;
  color: black;
  width: auto;
  .Button {
    font-size: $medium-font;
    @include hover(shrink, 1s);
  }
}