@keyframes pulseBorder {
  0%   { border-width: 5px; }
  50%  { border-width: 1px; }
  100% { border-width: 5px; }
}

@keyframes breathe {
  50%  { opacity: 0.2; }
}

@keyframes bob {
  50%  { transform: translate(0, -10px) }
}

@keyframes rotate {
  0% {transform: rotate(-10deg)}
  100% {transform: rotate(10deg)}
}

@mixin rotate () {
  animation: rotate 0.5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@mixin pulse () {
  animation: shrink 0.9s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes expand {
  50%  { transform: scale(1.2)}
}

@keyframes shrink {
  50%  { transform: scale(0.9)}
}