// keyframe animations

@keyframes pulseBorder {
  0%   { border-width: 5px; }
  50%  { border-width: 1px; }
  100% { border-width: 5px; }
}

@keyframes breathe {
  0%   { opacity: 0.2; }
  50%  { opacity: 1; }
  100% { opacity: 0.2; }
}

@keyframes bob {
  0%  { transform: translate(0, -10px) }
  50%   { transform: translate(0, 0) }
  100%  { transform: translate(0, -10px) }
}

.Tile {
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  position: relative;
  &:hover{
    cursor: pointer;
  }
}

.Selected {
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid lime;
    animation: pulseBorder 2s infinite;
    box-sizing: border-box;
  }
}

.MovableTo {
  &::after {
    content: '👇';
    font-size: 3vmin;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bob 2s infinite;
  }
}

.InteractableEnemy {
  &::before {
    content: '⚔️';
    width: 45%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    animation: breathe 0.8s infinite;
    border-radius: 50%;
    font-size: 3vmin;
  }
}


.InteractableEnemyNoTarget {
  &::before {
    position: absolute;
    content: '⚔️';
    font-size: 1.5vmin;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    border-radius: 50%;
  }
}

.Enemy {
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid red;
    box-sizing: border-box;
  }
}

.HealthBar {
  z-index: 1;
  top: 2px;
  right: 2px;
  width: 20%;
  height: 20%;
  background-color: green;
  border: 1px solid black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 62%;
}

.Enemy {
  .HealthBar {
    background-color: red;
  }
}