.MapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
}

.Map {
  width: 100vmin;
  height: 100vmin;
  min-height: 250px;
  min-width: 250px;
  border: 1px solid black;
  box-sizing: border-box;
  display: grid;
  grid-gap: 0;
}
